<!DOCTYPE html>
<html ng-app="FactoryApp">
  <head>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <meta charset="utf-8">
    <title>Demonstration of Custom Service using .factory method</title>
  </head>
  <body>
    <h1>Custom Service using Factory</h1>
    <!--Unlimited Item in a Shopping List  -->
    <div ng-controller = "FactoryController1 as list1">
      Name : <input ng-model="list1.itemName">
      Quantity : <input ng-model="list1.itemQuantity">
      <button ng-click="list1.addItem()">Add Item in ShoppingList1</button>
      <ul>
        <li ng-repeat="item in list1.items">{{item.name}} of {{item.quantity}}</li>
      </ul>
    </div>


    <!--Max limit to Items in a Shopping List  -->
    <div ng-controller = "FactoryController2 as list2">
      Name : <input ng-model="list2.itemName">
      Quantity : <input ng-model="list2.itemQuantity">
      <button ng-click="list2.addItem()">Add Item in ShoppingList2</button>
      <ul>
        <li ng-repeat="item in list2.items">{{item.name}} of {{item.quantity}}</li>
      </ul>
    </div>
  </body>
</html>
